[Unit]
Description= Go Metrics Server
After=network.target

[Service]
Type=simple
ExecStart=/path/to/startup-script.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target